**/.terraform/
**/.terraform.lock.hcl

**/terraform.tfstate
**/terraform.tfstate.backup

**/*.tfvars
**/*.tfvars.json

**/*.tfplan
**/*.out

**/crash.log

# Override files (local-only)
**/override.tf
**/override.tf.json

# Editor/IDE files
.vscode/
.idea/
*.swp
*.bak

# OS metadata
.DS_Store
Thumbs.db
